 #table
  {
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  width:90%;
  border-collapse:collapse;
  margin-left: 0px;
  margin-top: 10px;
  }

#table td, #table th 
  {
 /* font-size:15px;*/
  border:1px solid #ccc;
 /* padding:3px 7px 3px 7px;*/
  text-align: center;
  }

#table th 
  {
  font-size:15px;
  text-align:center;
  padding-top:5px;
  padding-bottom:4px;
  background-color:#6164C1;
  color:#ffffff;
  }

#table tr.alt td 
  {
  color:#000000;
  background-color:#A6E1EC;
  transition:1.0s;
  }
  
#table th:hover{                                      /* 鼠标经过时 */  
    background-color:#778899 ;   
}  

#table td:hover{
  background-color: skyblue;
}

#table th{
  transition:1.0s;
}

#table tr.alt td:hover 
  {
   background-color:#A6E1EC;
  }
 